*{
    margin: 0;
    padding: 0;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html{
    scroll-behavior: smooth;
}
/* body{
    background: #0c0a0a;
    color: #fff;
} */
    .container{
        padding: 20px ;
    }

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 15px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: medium;  
    position: relative;
    font-size: 20px;
    
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.carousel-item{
   align-items: center;
}
.visually-hidden {
    color: black;
    font-weight: 600;
}
/* .carousel-inner{
    align-items: center;
} */
.carousel-item img{
    height: 600px;
    margin: 0 auto;
    width: 1180px;
}
.about-heading{
    padding-left: 100px;
    padding-top: 50px;
}
.about-para{
    padding: 0 100px;
}
.about-para1{
    padding: 0 100px;
}
.about-para2{
    padding: 0 100px;
}
.gallery-heading{
    padding-left: 100px;
    padding-top: 50px;
}
.row{
   padding: 0 100px 0 100px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-bottom: 50px;
}
.event-heading{
    padding-left: 100px;
    padding-top: 50px;
}
.card img{
    aspect-ratio: 16/9;
}
.card-details{
    padding: 0 100px 0 100px;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #f76d37;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #f76d37;
    transform: translate(-5px);
}
.btn.btn2{
    display: inline-block;
    background:#f76d37;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form.btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.footer-section{
    text-align: center;
    background-color: #262626;
    height: 80px;
    
}
.span-footer{
  font-size: 20px;
  
}
.footer-icon a{ 
    text-decoration: none;
    font-size: 30px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
    padding-bottom: 0;
    margin-bottom: 0;
}
.footer-icon p{
    padding: 0;
    margin: 0;
}
.footer-icon a:hover{
    color: #f76d37;
    transform: translate(-5px);
}

/* ----------- */

